<% content_for :page_controls do %>
    <%= render 'index_controls' %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h3>Best? events</h3>
    <% @events_best.each do |event|  %>
        <%= render 'shared/event_card', event: event %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Most boring events</h3>
    <% @events_worst.each do |event|  %>
        <%= render 'shared/event_card', event: event %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Events closest to you</h3>
    <% @events_closest.each do |event|  %>
        <%= render 'shared/event_card', event: event %>
    <% end %>
  </div>
</div>
