<div class="col-md-12">
  <% @events.each do |event|  %>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><%= event.name %></span>
            </div>
        </div>
        <div class="panel-footer">
          <%= render 'event_controls', event: event %>
        </div>
    </div>
  <% end %>
</div>