// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  border: 1px solid #000000;
  margin-bottom: 0px;
  padding: 0px 0px;
}

.card .panel-body {
  height: 170px;
  overflow: hidden;
  padding: 0px 0px;
}

.card .panel-footer {
  height: 20px;
  padding: 0px 0px;
}

#alcohol-bar {
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}
#alcohol-bar.row [class*="col-md"] {
  float:none;
  display:inline-block;
}